.imageRotate {
//   width: 40vw;
//   height: 80vh;
  position: absolute;
  bottom: 0;
  right: 50;
  animation: round 10s alternate infinite ease-in-out;
}
// .rotate {
//   width: 10%;
//   height: 80%;
//   transform-origin: 0% center;
//   position: absolute;
//   bottom: 3%;
//   right: 0%;
//   animation: rotate 10s linear infinite;
// }
@keyframes round {
  0% {
    transform: translate(0, -5%);
  }
  30% {
    transform: translate(-5%, 0);
  }
  50% {
      transform: translate(0, -5%);
  }
  100% {
      transform: translate( -5%, 0);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
