*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  margin: 0 auto;
  height: fit-content;
}
h4{
  font-size: 2.0rem;
  margin-bottom: 5%;
}
input{
  padding: 15px;
  width: 70%;
  font-size: 20px;
  outline: 0;
  border: none;
}
.btnSub{
  @extend input;
  width: 30%;
  color:#fff;
  background: #353866;
}
.text-white{
  color: #fff;
}
p{
  font-size: 16px;
}
.overlay-black-dark::after{
  background-color: #353866;
}
.imageRotate {
//   width: 40vw;
//   height: 80vh;
  position: absolute;
  bottom: 0;
  right: 50;
  animation: round 10s alternate infinite ease-in-out;
}
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
}
.text{
  font-size: 3rem;
  font-weight: 700;

}
.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}
@keyframes round {
  0% {
    transform: translate(0, -5%);
  }
  30% {
    transform: translate(-5%, 0);
  }
  50% {
      transform: translate(0, -5%);
  }
  100% {
      transform: translate( -5%, 0);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
